p {
  margin: 10px 0;
}
input {
  height: 100%;
  box-sizing: border-box;
  border: none;
  margin: 0;
  min-width: 0;
  padding: 0 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
input:focus {
  outline: none;
}
input[readonly] {
  background: #ddd;
}
button {
  border: none;
  border-radius: 5px;
  background: #155ad1;
  padding: 5px 10px;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
}
button:hover {
  background: #296fe7;
}

$red: #FF4D4F;
$blue: #0077DD;
$green: #14C579;
$orange: #FF6A3C;
$info: #333;
$color: (
  (color: $red, bg: $red, name: danger),
  (color: $blue, bg: $blue, name: notice),
  (color: $green, bg: $green, name: success),
  (color: $orange, bg: $orange, name: warn),
  (color: $info, bg: #fff, name: info),
);
@for $i from 1 through length($color) {
  $item: nth($color, $i);
  .g_#{"" + map-get($item, name)} {
    color: map-get($item, color);
  }
  .g_#{"" + map-get($item, name)}_bg {
    background-color: lighten(map-get($item, bg), 25);
  }
}
